

<ion-content >
<body href="" mode="md">
  
  <div class="logoArea">
      <img src="../../../assets/icon/whater1.png" alt="" class="whater icon">
      <img src="../../../assets/icon/vortice.png" alt="" class="vortex icon">
  </div>

  <h1 class="title">Blue Dream</h1>

  <p class="parag">mantenha-se hidratado para manter a saúde</p>

  <p class="clicktel">Clique na tela... <img src="../../../assets/icon/clck.png" alt="" class="click"></p>

  <ion-button  class="btn" routerLink="/perguntas" routerLinkActive="active"></ion-button>

  
</body>
</ion-content>
