// .torpedo{
//     margin-top: 65%;
//     width: 40%;
// }


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;

}