


.cont{

    background:linear-gradient(180deg, #2D3079 3.12%, #000000 100%);
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.peso{
    --background: #000000;
    --color: #fff;
    --placeholder-color: #ddd;
    --placeholder-opacity: .8;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    margin-left: 5%;

   width: 65%;
}
.pesob{
    position: absolute;
    top: 52%;
    left: 57%;
 
    height: 70px;
    width: 120px;
    transform: scale(.5);
    filter: drop-shadow(
        0px 0px 8px #A0E5F3
    );
}
.iconic{
   
    height: 100%;
    width: 100%;
}

.woman{
    height: 90%;
    width: 100%;
    border-radius: 45%;
}
.male{
    height: 90%;
    width: 100%;
    border-radius: 45%;
}
.scale{
    height: 80%;
    width: 100%;
    margin-top: -15%;
    filter: drop-shadow(0px 4px 4px #0CA6C5);
}





.birb{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
    height: 89px;
    width: 46px;


}
.Bluebird{
    opacity: 0;
    position: relative;
    height: 25px;
    width: 34px;
    filter: drop-shadow(0px 3px 6px #A0E5F3);
    animation: 6s pardau infinite ;



}
.b4,.b2{

    margin-left: -25%;

}

.b1,.b3{
    top: 20%;


}

.b3{

    margin-left: -20%;

}


@keyframes pardau{


    0%{


        opacity: 0;


    }
    25%{
        opacity: 1;

    }
    40%{

        opacity: 0;

    }
   

    100%{
        transform: translateX(20rem);
      

    }





}


.title1{

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    filter: drop-shadow(0px 0px 3px #A0E5F3 );
    
    color: #A0E5F3;
    


}

.gener{

    height: 104px;
    width: auto;
    filter: drop-shadow(0px 0px 4px #A0E5F3  );
    

}


.w{

        height: 116px;

}


.buttons{


    display: flex;
    flex-direction: row;
}


.sea{
    position: absolute;
   
left: 0%;
    bottom: 5%;

 
    width: 1920px;
    height: 80px;
    display: flex;
   
}

.o1{
    animation: 2s sea1 infinite alternate ;
    height: 80px;
    width: 100%;
    filter: drop-shadow(
        0px 2px 15px #A0E5F3 
    );
}

@keyframes sea1 {


    0%{
            transform:translateX(8px) translateY(10px) ;


            

    }
    100%{

        transform:translateX(-8px) translateY(-10px) ;
       

    }



}


::-webkit-input-placeholder {
    color:  #A0E5F3 ;
 }
 
 .logoimage{

    position: absolute;
    
    height: 200px;
    width: 200px;
    border: 6px solid #00BCE1;
    box-shadow: 0px 0px 10px 5px #70C4D5;
    display: flex;border: 4px solid rgb(0, 160, 192);
    filter: drop-shadow(0px 0px 4px rgb(0, 160, 192));
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    
}

.horatittle{
    position: absolute;
    color: #A0E5F3;
    filter:drop-shadow(0px 0px 2px #A0E5F3) ;
    transform: scale(.8);
   
    font-family: 'Maitree';
    font-style: normal;
    
    font-size: 10px;
    line-height: 29px;
    text-align: center;

    margin-bottom: 80%;

    color: #A0E5F3;
}
.horasub1,.horasub2{
    color: #A0E5F3;

}


.minicont{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



.tittle{
    position: absolute;
    top: 10%;
    
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 79px;
    text-align: center;
    
    color: #A0E5F3;

}

.logoimage{
    

    opacity:100%;
    position: absolute;
    top: 30%;
    

}


.input{

    height: 80px;
}

.horatittle{
    top: 60%;
    font-family: 'Maitree';
    font-style: normal;

    font-size: 20px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    
    color: #A0E5F3;
    
}





.peso{
    color:  #A0E5F3 ;
    border: 4px solid zz#75e6fd ;
    filter: drop-shadow(0px 0px 8px #47c3db);
    border-radius: 15px;

}


.inpts{
    position: absolute;
    top: 68%;
    display: flex;
    flex-direction: row;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.horasub{

    font-family: 'Maitree';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: #A0E5F3;
}


.inp1,.inp2{
display: flex;
align-items: center;
flex-direction: column;


    width: 180px;

}

.clock{

    z-index: 3;
    position: absolute;
   
    
    height: 25px;
    width: 25px;
    pointer-events: none;
}

.ck1{ 
    position: absolute;
    right: 10%;
    pointer-events: none;
}

.ck2{
   
    position: absolute;
    right: 10%;
    pointer-events: none;
}


