<ion-header></ion-header>


<ion-content>
  
  <div class="cont" mode="ios">
 
    <div *ngIf="editMode == 1">
        <div class="birb">
          
          <img src="../../../assets/icon/passarin_azul.gif" alt="" class="Bluebird   b1">
          <img src="../../../assets/icon/passarin_azul.gif" alt="" class="Bluebird   b2">
          <img src="../../../assets/icon/passarin_azul.gif" alt="" class="Bluebird   b3">
          <img src="../../../assets/icon/passarin_azul.gif" alt="" class="Bluebird   b4">
         
        </div>
        <h2 class="title1"> Selecione o seu gênero </h2>
        <div class="buttons">
          <ion-button (click)="edit()" value="homem"  fill="clear" class="gener" ><img src="../../../assets/icon/maleblue.png" alt="" class="male icon"></ion-button>
          <ion-button (click)="edit()" value="mulher" fill="clear" class="gener w"><img src="../../../assets/icon/womanblue.png" alt="" class="woman icon">
        </ion-button>
        </div>
        <div class="sea">
            <img src="../../../assets/icon/onda_1.png" alt="" class="onda1  o1">
           
        

        </div>
      </div>
      <div *ngIf="editMode == 2">
      
         <img src="../../../assets/icon/scale.gif" alt="" class="scale icon">
         
         <ion-input placeholder="Ex:50.00KG" [(ngModel)]="num1" name="num1" max-Lenght="4" class="peso" ></ion-input>
         <ion-button (click)="edit()" (click)="adicao()" value="peso" fill="clear" class="pesob"><img src="../../../assets/icon/rogeriotech.png" alt="" class="iconic icon"></ion-button>
      </div>
      
      <div *ngIf="editMode == 3" class="minicont"> 
      
      
            <h1 class="tittle">Horario</h1>
            <ion-button  fill="clear" href="../../../app/tab1/tab1.page.html" class="logoimage">
              <img src="../../../assets/icon/sunAndmoonBLue.gif" alt="" class="moon icon">
            </ion-button>
              <h1 class="horatittle">Selecione o Horario que você:</h1>
              <div class="inpts">
                <div class="inp1">
                 
                  <h1 class="horasub">Acorda</h1>
                  <ion-input type="time"  value="horariodorm"  placeholder="Custom input in2" class="peso" ><img src="../../../assets/icon/clockicon.png" alt="" class="clock ck1"></ion-input>
                </div>
                <div class="inp2">
                
                  <h1 class="horasub">Dorme</h1>
                  <ion-input type="time" value="horarioacor"  placeholder="Custom input in2" class="peso">  <img src="../../../assets/icon/clockicon.png" alt="" class="clock ck2"></ion-input>
                </div>
              </div>
      
           
      
      </div>
      </div>
      

    
</ion-content>
