<ion-header></ion-header>


<ion-content>
  
  <div class="cont">
 
    <div *ngIf="editMode == 1">
        <ion-fab-button (click)="edit()" value="homem"  >sou homem</ion-fab-button>
        <ion-fab-button (click)="edit()" value="mulher" ><img src="../../../assets/icon/womanblue.png" alt="" class="woman icon"></ion-fab-button>
        
      </div>
      <div *ngIf="editMode == 2">
        
        <ion-input ></ion-input>
        <ion-button (click)="edit()" value="peso">Confirmar</ion-button>
      </div>
      
      <div *ngIf="editMode == 3">
        <h1>quando você dorme</h1>
        <ion-item>
          <ion-label>hora</ion-label>
          <ion-input type="time"  value="horariodorm"></ion-input>
        </ion-item>
        <h1>quando você acorda</h1>
        <ion-item>
          <ion-label>hora</ion-label>
          <ion-input type="time" value="horarioacor"></ion-input>
        </ion-item>
        <ion-button href="">Confirmar</ion-button>
      </div>
      
  
    </div>
    
</ion-content>
